@media (max-width: 670px) {
    .container {
        padding: 0px 30px;
    }
    .header-top h1 {
        font-size: 40px;
        float: left;
    }
    .menu-icon {
        display: block;
        font-size: 25px;
        padding: 14px 0;
    }
    .header-list {
        display: none;
    }
    .lessons-wrapper {
        padding: 10px;
    }
    .lesson {
        width: 100%;
        margin: 5px;
        line-height: 20px;
    }
    .react {
        margin:5px;
    }
    .footer-logo {
        float: none;
        text-align: center;
    }
    .footer-list {
        justify-content:center;
    }
    .social-list {
        margin-right: 0px;
    }
}
